mat-expansion-panel {
    margin: 10vh 5vw 2vh 5vw;
}

mat-panel-title, mat-panel-description {
    font-size: 2vh;
}

.fontGaramond {
    font-family: Garamond, serif; 
    font-weight: 700; 
    font-size: 5vh;
}
/* This resets mat-expansion-panel's disabled state to the element's default styling */
::ng-deep .mat-expansion-panel-header[aria-disabled=true] {
    color: rgba(0,0,0,.87);
}