<div [@entrance]="state" class="projects">
    <mat-card>
        <mat-card-title>
            Firefight
        </mat-card-title>
        <mat-card-subtitle>
            a 2d action-platformer
        </mat-card-subtitle>
        <mat-card-content>
            <a mat-button href="assets/Firefight_build.rar" class="downloadButton">Download</a>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-title>
            Starspeed
        </mat-card-title>
        <mat-card-subtitle>
            a 3d space racing game
        </mat-card-subtitle>
        <mat-card-content>
            <a mat-button href="assets/Starspeed_Build_Master.zip" class="downloadButton">Download</a>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-title>
            Starspeed (Old Pre-Alpha Version)
        </mat-card-title>
        <mat-card-subtitle>
            take a glimpse into the process
        </mat-card-subtitle>
        <mat-card-content>
            <a mat-button href="assets/Starspeed_PreAlpha.rar" class="downloadButton">Download</a>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-title class="smallTitle">
            Fantasy Stock League (no longer functional)*
        </mat-card-title>
        <mat-card-subtitle class="smallTitle">
            a web-based fantasy stock-trading game
        </mat-card-subtitle>
        <mat-card-content>
            <a mat-button href="http://fsleague.herokuapp.com" class="linkButton">Link</a>
        </mat-card-content>
    </mat-card>
    <p>*the site's hosting expired, and therefore the database setup was lost. One day I'll get it fully functioning again.</p>
    <mat-card>
        <mat-card-title>
            MyDataStory
        </mat-card-title>
        <mat-card-subtitle>
            a sample site for a small contest
        </mat-card-subtitle>
        <mat-card-content>
            <a mat-button href="http://data-science-contest.herokuapp.com/" class="linkButton">Link</a>
        </mat-card-content>
    </mat-card>
</div>
