<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<div [@entrance]="state">
    <div class="contactBlock">
        <mat-icon class="contactIcon" fontSet="fontawesome" fontIcon="fa-phone"></mat-icon><div class="contactText">My Phone Number: (305) 546-9021</div>

        <mat-icon class="contactIcon" fontSet="fontawesome" fontIcon="fa-envelope"></mat-icon><div class="contactText">My Email Address: jmanos@ufl.edu</div>
    
        <mat-icon class="contactIcon" fontSet="fontawesome" fontIcon="fa-facebook"></mat-icon>
        <a href="https://www.facebook.com/john.manos.92" class="contactText" >My Facebook Page</a>
    
        <!-- <mat-icon class="contactIcon" fontSet="fontawesome" fontIcon="fa-instagram"></mat-icon> -->
        <!-- <a href="https://www.facebook.com/john.manos.92" class="contactText" >My Instagram Page</a> -->
    </div>
</div>
