<div [@entrance]="state" class="bioBlock">
  <img src="assets/Manos_headshot.jpg" alt="A photo of John Manos, taken by his wonderful girlfriend." class="bioPic">
  <p class="bio">
    My name is John Manos, and I am a professional Software Engineer. I graduated from University of Florida with a major in Computer Science and a minor in Digital Arts and Sciences in December 2019 and have been a professional developer ever since.
    At UF, I studied fundamental topics in computing such as programming, computer organization and architecture, software engineering and development practices, databases, operating systems, and computer security. 
    Afterward, I began to apply these skills in a career as a software developer at UKG (formerly Ultimate Software), utilizing my creativity to help build software that enhances people’s lives. 
  </p>  
  <p class="bio">
    At UKG, I dedicated my efforts to enhancing and maintaining an enterprise web application that allows our customers (among whom are Google, Texas Roadhouse, and other large multinational organizations) to better administrate their people.
    Such software is known as Human Capital Management (HCM) software, and it is a crucial component of how companies conduct their daily business and provide their employees with resources and compensation.
    I began on the Payroll team, where I helped deliver a feature that allows companies to utilize our app, called UKGPro, to set up charitable donation campaigns for their organizations. This feature was an Angular app hoisted within the larger ASP.NET program. I'm proud of how I contributed to facilitating countless charitable drives across the globe.
    After that, I moved to the Recruiting team, where I assisted in delivering several features including Candidate Tagging, which allows companies' recruiters to tag potential hires with custom tags to better organize their hiring processes.
    I also helped to deliver the Candidate Matching feature, which uses machine learning to intelligently assign match scores to candidates based on how well their resumes and overall applications match with the recruiters' designated hiring criteria.
    I then moved on to the Benefits team, where I stayed for almost two years and delivered countless features and improvements to allow employers to better administer healthcare to their employees, such as fixing Affordable Care Act compliance defects, implementing the functionality for state-level helathcare adminstration compliance, and allowing better flexibility in the process of generating and distributing 1095-Cs. I also piloted a feature that facilitates how employees can elect to go paperless for forms such as W-2s and 1095-Cs.
  </p> 
  <p class="bio">
    I have utilized my programming and software design skills in various projects for internships, academia, and personal fulfillment. 
    Such projects include a web-app for Miami-Dade County IT department that serves to configure and deploy existing and new versions of their mobile and web public services apps, a 2D action-platformer video game for desktop, a 3D spaceship racing game for desktop, a web-based fantasy stock-trading game, various website designs, an interactive narrative hypertext game, and text-based Minesweeper written in C++. 
    These projects incorporated a wide range of programming languages, technologies, and frameworks, which altogether has helped me acquire a competent set of programming abilities. 
    Specializing in front-end design and user interactivity, I hope to apply these skills to programs that positively affect as many people as possible.  
  </p>
  <p class="bio">
    Thus, I aim to diversify my exposure to various kinds of software contexts, with the goal of maximizing my ability to fit into various roles where I can excel and flourish into my full potential, and further my career in a direction of my choosing. 
    For example, I have taken courses in game design, where I have learned to develop games with rapid prototyping using the Unity engine, Photoshop, and Maya, involving the design and development of game assets such as background art, character design, special effects, C# scripts, and more. 
    Yet on top of that, I also participated in an internship that involved web-app development in a public-sector context. By not narrowing in too hard on a single focus, I hope to broaden my professional horizons. 
    As such, I am always looking forward to new experiences and opportunities to learn.
  </p>
</div>
