<div [@entrance]="state" class="bioBlock">
  <img src="assets/Manos_headshot.jpg" alt="A photo of John Manos, taken by his wonderful girlfriend." class="bioPic">
  <p class="bio">
    My name is John Manos, and I am a fourth year Computer Science major, with a minor in Digital Arts and Sciences, at the University of Florida. 
    There, I have studied fundamental topics in computing such as programming, computer organization and architecture, software engineering and development practices, databases, operating systems, and computer security. 
    I hope to apply these skills in a career as a software developer, to eventually utilize his creativity to help build software that enhances people’s lives. 
  </p>  
  <p class="bio">
    I have utilized my programming and software design skills in various projects for internships, academia, and personal fulfillment. 
    Such projects include a web-app for Miami-Dade County IT department that serves to configure and deploy existing and new versions of their mobile and web public services apps, a 2D action-platformer video game for desktop, a 3D spaceship racing game for desktop, a web-based fantasy stock-trading game, various website designs, an interactive narrative hypertext game, and text-based Minesweeper written in C++. 
    These projects incorporated a wide range of programming languages, technologies, and frameworks, which altogether has helped me acquire a competent set of programming abilities. 
    Specializing in front-end design and user interactivity, I hope to apply these skills to programs that positively affect as many people as possible.  
  </p>
  <p class="bio">
    Thus, I aim to diversify my exposure to various kinds of software contexts, with the goal of maximizing my ability to fit into various roles where I can excel and flourish into my full potential, and further my career in a direction of my choosing. 
    For example, I have taken courses in game design, where I have learned to develop games with rapid prototyping using the Unity engine, Photoshop, and Maya, involving the design and development of game assets such as background art, character design, special effects, C# scripts, and more. 
    Yet on top of that, I also participated in an internship that involved web-app development in a public-sector context. By not narrowing in too hard on a single focus, I hope to broaden my professional horizons. 
    As such, I am always looking forward to new experiences and opportunities to learn.
  </p>
</div>
